@model PAIProjektAgain.Models.Category

<h1>Usuwanie kategorii</h1>

<h3>Czy na pewno chcesz usunąć tę kategorię?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isPublic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isPublic)
        </dd>
    </dl>

    <form asp-action="DeleteCategory">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Categories">Powrót</a>
    </form>
</div>